<header>
  <!-- Content -->
</header>

<main>
  <!-- Content -->
</main>

<footer class="footer">
  <div class="footer__addr">
    <!--<h1 class="footer__logo">Tutorsity</h1>-->
    <h1 class="footer__logo">Contact</h1>
    <address>
      <!--&nbsp;5534 Somewhere In. The World 22193-10212<br>-->
      <a class="footer__btn" href="mailto:tutorsity@gmail.com">Email Us</a>
    </address>
  </div>

  <div class="legal">
    <p>&copy; 2019 Tutorsity. All Right Reserved</p>

    <span class="legal__links">
      <a href="#">Privacy Policy</a>

      <span></span>

      <a href="#">Terms of Use</a>
    </span>
  </div>
</footer>
