.header-panel-brand {
  background-color: #639;
  padding: 15px;
  color: #fff;
  box-shadow: 0 3px 10px #004d40;
  z-index: 100;
}

.header-panel-container {
  box-shadow: 0 0px 10px #004d40;
  z-index: 100;
  height: auto !important;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
