<!--<h1>Tutorsity</h1>
<p>Inspired from ICC Cricket World Cup 2019 Official <a href="https://www.cricketworldcup.com" target="_blank">Website.</a></p>
<br />-->
<div class="quick-link-container">
  <div class="quick-link">
    <div class="background"></div>
    <a href="https://www.google.com/" target="_blank">Courses</a>
  </div>

  <div class="quick-link">
    <div class="background"></div>
    <a href="https://www.google.com/" target="_blank">Trainings</a>
  </div>

  <div class="quick-link">
    <div class="background"></div>
    <a href="https://www.google.com/" target="_blank">Webinars</a>
  </div>

  <div class="quick-link">
    <div class="background"></div>
    <a href="https://www.google.com/" target="_blank">Podcasts</a>
  </div>

  <div class="quick-link">
    <div class="background"></div>
    <a href="https://www.google.com/" target="_blank">Venues</a>
  </div>

  <div class="quick-link">
    <div class="background"></div>
    <a href="https://www.google.com/" target="_blank">News</a>
  </div>
</div>
